/* CSS cho trang quên mật khẩu */
.forgot-password-page {
  height: 100vh;
  background-image: url("../images/Frame 16.png"); /* Hình nền */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-password-inner {
  background: rgba(255, 255, 255, 0.54);
  padding: 30px 50px 0 50px;
  border-radius: 25px;
  box-shadow: 0 4px 12px #98b691;
  width: 100%;
  max-width: 520px;
  backdrop-filter: blur(10px);
}

.forgot-password-inner h2 {
  margin-bottom: 35px;
  color: #333;
  text-align: center;
  font-weight: 800;
  font-size: 49px;
  color: #0b9459;
  text-shadow: 2px 2px 11px rgba(11, 148, 89, 0.4);
}

.forgot-password-inner label {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #0b9459;
  font-weight: 400;
  font-size: 20px;
}

.forgot-password-inner input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(88, 88, 88, 0.3);
  border-radius: 10px;
  color: black;
  background-color: rgba(217, 217, 217, 0.16);
  font-size: 16px;
}

/* Form options styling */
.forgot-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid rgba(88, 88, 88, 0.3);
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  background-color: #0b9459;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px 0 20px;
}

.submit-btn:disabled {
  background-color: #ccc;
}

.submit-btn:hover {
  background-color: #097a4a;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(11, 148, 89, 0.3);
}

.submit-btn:active {
  transform: translateY(0);
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}
