.welcomePage-header {
  background: url(../images/Frame1.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.welcome-btns {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: auto;
}

.welcome-login-btn,
.welcome-register-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.welcome-login-btn {
  background: transparent;
  color: #0b9459;
  border: 2px solid #0b9459;
}

.welcome-login-btn:hover {
  background: #0b9459;
  color: white;
  text-decoration: none;
}

.welcome-register-btn {
  background: #0b9459;
  color: white;

}

.welcome-register-btn:hover {
  color: #0b9459;
  background: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(11, 148, 89, 0.3);
  text-decoration: none;
}